<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohdogcat.repository.AddressDao">
  <insert id="registerAddress" parameterType="Address">
    insert into address (
    address, zonecode, detail_addr, recipient
    ) values (
    #{address}, #{zonecode}, #{detail_addr}, #{recipient}
    )
    <selectKey resultType="Long" keyProperty="address_pk" order="AFTER">
      select address_pk from address
      where address = #{address} and zonecode = #{zonecode} and detail_addr = #{detail_addr} and
      recipient= #{recipient}
      order by created_date desc
      offset 0 row fetch next 1 row only
    </selectKey>
  </insert>

  <select id="getAddressByAddressPk" parameterType="Long" resultType="Address">
    select
    address_pk, address, zonecode, detail_addr, recipient
    from address
    where address_pk = #{addressPk}
  </select>

  <select id="getAddressOrdered" parameterType="Long" resultType="Address">
    select *
    from ( select
    address_pk, address, zonecode, detail_addr, recipient
    from address
    join purchase on address_fk = address_pk and member_fk = #{memberFk}
    order by purchase.purchase_date
    )
    WHERE ROWNUM <![CDATA[ <= ]]> 5
  </select>

</mapper>