<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohdogcat.repository.PurchaseDao">

  <insert id="insertPurchase" parameterType="Purchase">
    insert into purchase (
    member_fk, status_fk, address_fk, total_price, order_name
    ) values (
    #{member_fk}, #{status_fk}, #{address_fk}, #{total_price}, #{order_name}
    )
    <selectKey resultType="Long" keyProperty="purchase_pk" order="AFTER">
      select purchase_pk from purchase
      where member_fk = #{member_fk}
      and status_fk = #{status_fk} and address_fk = #{address_fk}
      and total_price = #{total_price} and order_name = #{order_name}
      order by purchase_date desc
      offset 0 row fetch next 1 row only
    </selectKey>
  </insert>

  <insert id="insertPurchasedProduct" parameterType="PurchaseProduct">
    insert into purchase_product (
    purchase_fk, option_fk, count
    ) values (
    #{purchase_fk}, #{option_fk}, #{count}
    )
  </insert>

  <insert id="insertPayment" parameterType="Payment">
    insert into payment (
    purchase_fk, total_price, paid_price, used_point, pay_method, merchant_uid, pay_success,
    accumulated_point
    ) values (
    #{purchase_fk}, #{total_price}, #{paid_price}, #{used_point}, #{pay_method}, #{merchant_uid},
    #{pay_success}, #{accumulated_point}
    )
    <selectKey resultType="Long" keyProperty="payment_pk" order="AFTER">
      select payment_pk from payment
      where
      purchase_fk = #{purchase_fk} and
      total_price = #{total_price} and
      paid_price = #{paid_price} and
      used_point = #{used_point} and
      pay_method = #{pay_method} and
      merchant_uid = #{merchant_uid} and
      pay_success = #{pay_success} and
      accumulated_point = #{accumulated_point}
      order by payment_pk desc
      offset 0 row fetch next 1 row only
    </selectKey>
  </insert>

  <select id="getPurchaseInfo" parameterType="Long" resultType="Purchase">
    select
      *
    from purchase
    where purchase = #{purchasePk}
  </select>

  <select id="getProductByPurchasePk" parameterType="Long" resultType="PurchaseProduct">
    select
      option_fk, product_fk, product_name, option_name, img_url, price, count
    from purchase_product
    left join product_option on option_fk = option_pk
    left join product on product_fk = product_pk
    where purchase_fk = #{purchaseFk}
  </select>

  <select id="retrievePaymentByPurchaseFk" parameterType="Long" resultType="Payment">
    select
      *
    from payment
    where payment_fk = #{ purchasePk }
  </select>
  
  <select id="getPurchaseStatusByPk" parameterType="Long" resultType="PurchaseStatus">
    select
      *
    from purchase_status
    where status_pk = #{ status_pk }
  </select>

</mapper>

  <!--
    member_fk number(10),
    status_fk number(10) default 1,
    address_fk number(10),
    total_price number(8),
    order_name varchar2(30 char),
  -->